/* src/components/Navbar.css */

.navbar {
  background-color: var(--backgroundSecondary);
  /* Fondo del Navbar */
  display: flex;
  justify-content: flex-end;
  /* Alinea el contenido del navbar a la derecha */
  align-items: center;
  padding: 10px 20px;
  height: 60px;
  position: fixed;
  /* Hace que el navbar esté fijo */
  top: 0;
  width: 100%;
  /* Ocupa todo el ancho de la pantalla */
  z-index: 1000;
  /* Asegura que esté encima de otros elementos */
}

.navbar-list {
  list-style: none;
  display: flex;
  gap: 80px;
  margin: 0;
  padding: 0;
}

.navbar-item a {
  color: var(--textPrimary);
  /* Color del texto */
  text-decoration: none;
  font-size: 16px;
  transition: color 0.3s;
}

.navbar-item a:hover {
  color: var(--primary);
  /* Color de hover */
}